<!DOCTYPE html>
<html>
	<head>
		<title>Mines MATE Driver Station</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery-ui-miku.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">
		<script type="text/javascript" src="{{ url_for('static', filename='jquery-3.5.1.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='jquery-ui.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='p5.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='quaternion.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='orientationViewport.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
		<script type="text/javascript">const static_folder = {{ url_for("static", filename="") }};</script>
	</head>
	<body>
		<table id="root" class="viewport-container">
			<tr>
				<td id="camera-viewport-section">{% include "viewports/camera_viewport_section.html" %}</td>
				<td id="info-viewport" style="height: 100%; width: 40%;">{% include "viewports/info_viewport.html" %}</td>
			</tr>
		</table>
		<img src="static/graphic.png" id="graphic" style="width: 100px; height: 100px; position: absolute; opacity: 0; top: 90%; left: 1%;">
	</body>
</html>
