# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pyc

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# vscode
.vscode/

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
*.ini

# ros doo dads
install/
log/
build/

# my doo dads
# *OUR* DOO DADS
# scripts/

# documentation with jekyll
_posts/
_site/
.jekyll-cache/

# ccls cache
.ccls-cache/

# no virtual environments
.venv/

# no vscode shenanigans
.vscode/

# no python shenanigans
*.pyc
