[submodule "src/external/raygui"]
	path = src/external/raygui
	url = https://github.com/raysan5/raygui
[submodule "src/external/raylib"]
	path = src/external/raylib
	url = https://github.com/raysan5/raylib
[submodule "src/external/vslam"]
	path = src/external/vslam
	url = https://github.com/Colorado-School-of-Mines-Robotics-Club/ExternalVslam
