<div id="orientation-viewport" class="viewport-container" style="height:400px;width:600px"></div>
<table id="joy-axes" style="width: 100%">
    <tr>
        <td style="width: 50%" class="joy-axis-cell">
            <span class="joy-axis-label">Roll:&nbsp;<span id="joy-axis-0-label">50%</span></span>
            <div class="joy-axis-bar-container">
                <div id="joy-axis-0-bar" class="joy-axis-bar"></div>
            </div>
        </td>
        <td style="width: 50%" class="joy-axis-cell">
            <span class="joy-axis-label">Pitch:&nbsp;<span id="joy-axis-1-label">50%</span></span>
            <div class="joy-axis-bar-container">
                <div id="joy-axis-1-bar" class="joy-axis-bar"></div>
            </div>
        </td>
    </tr>
    <tr>
        <td style="width: 50%" class="joy-axis-cell">
            <span class="joy-axis-label">Yaw:&nbsp;<span id="joy-axis-2-label">50%</span></span>
            <div class="joy-axis-bar-container">
                <div id="joy-axis-2-bar" class="joy-axis-bar"></div>
            </div>
        </td>
        <td style="width: 50%" class="joy-axis-cell">
            <span class="joy-axis-label">Throttle:&nbsp;<span id="joy-axis-3-label">50%</span></span>
            <div class="joy-axis-bar-container">
                <div id="joy-axis-3-bar" class="joy-axis-bar"></div>
            </div>
        </td>
    </tr>
    <tr>
        <td style="width: 50%" class="joy-axis-cell">
            <span class="joy-axis-label">Hat X:&nbsp;<span id="joy-axis-4-label">50%</span></span>
            <div class="joy-axis-bar-container">
                <div id="joy-axis-4-bar" class="joy-axis-bar"></div>
            </div>
        </td>
        <td style="width: 50%" class="joy-axis-cell">
            <span class="joy-axis-label">Hat Y:&nbsp;<span id="joy-axis-5-label">50%</span></span>
            <div class="joy-axis-bar-container">
                <div id="joy-axis-5-bar" class="joy-axis-bar"></div>
            </div>
        </td>
    </tr>
</table>
<table id="joy-buttons" style="width: 100%">
    <tr>
        <td style="width:16.66%" class="joy-button-cell">
            <div id="joy-button-1-indicator" class="joy-button-indicator">
                <span class="joy-button-label">1</span>
            </div>
        </td>
        <td style="width:16.66%" class="joy-button-cell">
            <div id="joy-button-2-indicator" class="joy-button-indicator">
                <span class="joy-button-label">2</span>
            </div>
        </td>
        <td style="width:16.66%" class="joy-button-cell">
            <div id="joy-button-3-indicator" class="joy-button-indicator">
                <span class="joy-button-label">3</span>
            </div>
        </td>
        <td style="width:16.66%" class="joy-button-cell">
            <div id="joy-button-4-indicator" class="joy-button-indicator">
                <span class="joy-button-label">4</span>
            </div>
        </td>
        <td style="width:16.66%" class="joy-button-cell">
            <div id="joy-button-5-indicator" class="joy-button-indicator">
                <span class="joy-button-label">5</span>
            </div>
        </td>
        <td style="width:16.66%" class="joy-button-cell">
            <div id="joy-button-6-indicator" class="joy-button-indicator">
                <span class="joy-button-label">6</span>
            </div>
        </td>
    </tr>
    <tr>
        <td style="width:16.66%" class="joy-button-cell">
            <div id="joy-button-7-indicator" class="joy-button-indicator">
                <span class="joy-button-label">7</span>
            </div>
        </td>
        <td style="width:16.66%" class="joy-button-cell">
            <div id="joy-button-8-indicator" class="joy-button-indicator">
                <span class="joy-button-label">8</span>
            </div>
        </td>
        <td style="width:16.66%" class="joy-button-cell">
            <div id="joy-button-9-indicator" class="joy-button-indicator">
                <span class="joy-button-label">9</span>
            </div>
        </td>
        <td style="width:16.66%" class="joy-button-cell">
            <div id="joy-button-10-indicator" class="joy-button-indicator">
                <span class="joy-button-label">10</span>
            </div>
        </td>
        <td style="width:16.66%" class="joy-button-cell">
            <div id="joy-button-11-indicator" class="joy-button-indicator">
                <span class="joy-button-label">11</span>
            </div>
        </td>
        <td style="width:16.66%" class="joy-button-cell">
            <div id="joy-button-12-indicator" class="joy-button-indicator">
                <span class="joy-button-label">12</span>
            </div>
        </td>
    </tr>
</table>
