<div id="camera-viewport-table" class="viewport-container">
		<div id="camera-1-div" class="camera-viewport-div">
			<img id="camera-1-img" src="{{ url_for('camera_1_video_feed') }}" class="camera-viewport-img">
		</div>
		<div id="camera-2-div" class="camera-viewport-div">
			<img id="camera-2-img" src="{{ url_for('camera_2_video_feed') }}" class="camera-viewport-img">
		</div>
		<div id="camera-3-div" class="camera-viewport-div">
			<img id="camera-3-img" src="{{ url_for('camera_3_video_feed') }}" class="camera-viewport-img">
		</div>
		<!-- <div id="camera-4-div" class="camera-viewport-div">
			<img id="camera-4-img" src="{{ url_for('camera_4_video_feed') }}" class="camera-viewport-img">
		</div> -->
</div>
