<div id="info-tabs-container" class="viewport-container">
	<ul>
		<li><a href="#info-tab-drive">Drive</a></li>
		<li><a href="#info-tab-camera">Camera</a></li>
		<li><a href="#info-tab-command">Command</a></li>
		<li><a href="#info-tab-options">Options</a></li>
	</ul>
	<div id="info-tab-drive">{% include "viewports/info_viewport_tabs/drive_tab.html" %}</div>
	<div id="info-tab-camera">{% include "viewports/info_viewport_tabs/camera_tab.html" %}</div>
	<div id="info-tab-command">{% include "viewports/info_viewport_tabs/command_tab.html" %}</div>
	<div id="info-tab-options">{% include "viewports/info_viewport_tabs/options_tab.html" %}</div>
</div>
