<table style="height:100%;width:100%;padding:20px;">
	<colgroup>
		<col span="1" style="width:50%">
	</colgroup>
	<tr>
		<td style="border:1px solid #2eb398;">
			<div style="padding:20px;">
				<span style="font-size:24px;font-weight:500;">Power</span>
				<p>has_power: maybe</p>
			</div>
		</td>
		<td style="border:1px solid #2eb398;">
			<div style="padding:20px;">
				<span style="font-size:24px;font-weight:500;">Statistcs</span>
				<p>cpu: exists</p>
				<p>ram: works</p>
				<p>controller: perhaps</p>
			</div>
		</td>
	</tr>
</table>
